<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <style th:replace="fragments/style"></style>
</head>
<body>
<nav th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h4><b><span th:text="${addStatus==true?'New GRN Add':'Update GRN '}"></span></b></h4>
        </div>
        <div class="panel-body">
            <!--Page Header Content-->
            <div class="row">
                <div class="col-sm-4 ">
                    <a class="btn btn-primary" href="/home"> Return Home</a>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    <h4 class="text-info"></h4>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/grn">
                        <button class="btn btn-sm btn-primary"><span
                                class="glyphicon glyphicon-list">&nbsp; View List </span></button>
                    </a>
                </div>
            </div>
            <div class="container-fluid" th:if="${searchArea==true}">
                <div class="col-sm-offset-2">
                    <div class="row">
                        <form action="/grn/findByPOCode" class="form-horizontal" method="post">
                            <!--<div class="col-sm-5">
                                <div class="col-md-4 form-group">
                                    <label for="supp">Select Parameter:</label>
                                    <select class="form-control" id="supp">
                                        <option value=""> Please Select</option>
                                        <option value="name">Name</option>
                                        <option value="code">Code</option>
                                    </select>
                                </div>
                                <div class="col-md-1"></div>
                                <div class=" col-md-6 form-group text-left">
                                    <label class="" for="criteria">Value :</label>
                                    <input class="form-control" id="criteria" placeholder="Enter Search Value Here"
                                           type="text"/>
                                </div>
                                <div class="text-center col-md-1 form-group">
                                    <br>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>-->
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5">
                                <div class="col-md-4 form-group">
                                    <label for="code">PO Code:</label>
                                    <input class="form-control" type="text" id="code" name="code" placeholder="Please Enter PO code">
                                </div>
                                <div class="text-center col-md-1 form-group">
                                    <br>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="container-fluid" th:if="${searchArea==false}">
                    <div class="row">
                        <form class="form-horizontal"
                              th:action="${addStatus==true?'/grn/add':'/grn/update'}"
                              th:method="POST" th:object="${grn}">
                            <label th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                            <ul>
                                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                            <div th:if="${addStatus==false}" class="row text-center bg-primary">
                                <h3 th:text="${supplier.name}"></h3>
                                <input type="hidden" th:field="*{supplier}">
                            </div>
                            <!--From Start-->
                            <div class="row text-left" th:if="${addStatus==false}">
                                <br>
                                <div class="col-sm-6">
                                    <div class="form-group ">
                                        <label class="control-label col-md-4" for="id">ID :</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="id" placeholder="Enter ID Here"
                                                   th:field="*{id}" type="text" readonly/>
                                            <span class="error" th:errors="*{id}"
                                                  th:if="${#fields.hasErrors('id')}">Error Number</span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label col-md-4" for="code">Code :</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="code" placeholder="Enter Code Here"
                                                   th:field="*{code}" type="text"/>
                                            <span class="error" th:errors="*{code}"
                                                  th:if="${#fields.hasErrors('code')}">Error Number</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive" style="margin: auto">
                                    <table class="table table-striped table-condensed text-center" >
                                        <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>Item</th>
                                            <th>Available Qty.</th>
                                            <th>Re-Order Limit</th>
                                            <th>Requested Qty.</th>
                                            <th>Received Qty.</th>
                                            <th>Cost</th>
                                            <th>Selling Price</th>
                                            <th class="text-center">Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item, rowCount : ${grn.grnQuantities }">
                                            <th th:text="${rowCount.count}"></th>
                                            <th th:text="${item.item.description}">
                                                <input type="hidden" th:value="${item.item}">
                                            </th>
                                            <th th:text="${item.item.soh}"></th>
                                            <th th:text="${item.item.reorderLimit}"></th>
                                            <th><input type="text" th:field="*{grnQuantities[__${rowCount.index}__].requestedQty}" readonly></th>
                                            <th><input type="text" th:field="*{grnQuantities[__${rowCount.index}__].receivedQuantity}"></th>
                                            <th><input type="text" th:field="*{grnQuantities[__${rowCount.index}__].item.cost}"></th>
                                            <th><input type="text" th:field="*{grnQuantities[__${rowCount.index}__].item.selling}"></th>


                                            <th><a class="btn btn-danger"><i
                                                    aria-hidden="true" class="fa fa-trash-o"></i>
                                                Delete</a></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group text-left">
                                        <label class="control-label col-md-4" for="receivedDate">Received Date :</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="receivedDate"
                                                   th:field="*{receivedDate}" type="date" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" th:if="${addStatus == false}">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="poS">PO Status</label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="poS" th:field="*{grnStatus}">
                                                <option th:each="p : ${grnStatus}"
                                                        th:text="${p.grnStatus}"
                                                        th:value="${p}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group text-left">
                                    <label class="control-label col-md-4" for="remarks">Remarks :</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="remarks" placeholder="Enter Remarks Here"
                                               th:field="*{remarks}" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center row">
                                <button class="btn btn-success" type="submit"><span
                                        class="glyphicon glyphicon-thumbs-up"></span>&nbsp; &nbsp;<span
                                        th:text="${addStatus==true?'Save': 'Update'}"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer" th:replace="fragments/footer"></footer>
    <script th:replace="fragments/script"></script>
</body>
</html>